/*
 * Altervista 2016
 */


/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

body {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
    width: 100%;

	line-height: 1.5;
	color: #333;
	background-color: #f0f2f5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #f79400;
}

form a {
	color: #333;
}

a:hover {
	color: #e88b00;
}

a:active,
a:focus {
	outline: 0;
}

img {
	max-width: 100%;
}

p {
	margin: 0 0 1em 0;
}

input,
textarea,
button,
select {
	font-family: 'Lato', sans-serif;
}

.text-grey {
	color: #666
}

.text-small {
	font-size: 0.875em;
}

/* Clearing */

.clear:before,
.clear:after,
#links:before,
#links:after  {
  content: '';
  display: table;
}

.clear:after,
#links:after {
  clear: both;
}

/* Login Header */
#mainpage{
    width: 100% !important;
}

#login {
    width: 100% !important;
	margin: 0 auto 0;
	padding: 0;
    font-size: 1.2em;
    background-color: #fff;
}
#login-content{
	max-width: 700px;
}
/* .login-header img {
  width: 250px;
  height:250px;
  margin-top: 5px !important;
  position: relative;
  float: right;
} */

.wide #login {
	width: auto;
	max-width: 760px;
}

.login-header {
	margin-bottom: 1em;
}

.login-header h1 {
	font-size: 1em;
    margin: 0;
    padding: 0;
}

.login-header img {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
    width: 100%;
}

.login-app {
	padding: 0 1.5em;
	margin: 0 0 1em;
	text-align: center;
	color: #666;
}

.login-icon {
	display: inline-block;
	margin-right: 0.2em;
}

.login-app .login-icon img {
	vertical-align: -10%;
}

.login-app .app-title {
	display: inline-block;
	line-height: 42px;
	font-size: 0.875em;
	font-weight: 700;
	letter-spacing: -0.01em;
}

/* Login Content */

.login-content {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 1.5em;
	margin-bottom: 1em;
}

h2 {
	color: #666;
    font-size: 1.125em;
    font-weight: 400;
    margin: 0 0 1.5em;
    padding: 0;
    text-align: center;
}

h3 {
	margin: 0 0 1em 0;
	font-size: 1em;
	font-weight: 700;
}

table {
	margin: auto;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

th, td {
	padding: 6px;
	border: 1px solid #ddd;
	text-align: left;
}

form textarea,
form input[type=text],
form input[type=password],
form input[type=email],
form select {
	display: block;
	width: 100%;
	font-size: 1em;
	padding: 0.75em 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #eee;
	background-color: #eee;
	color: #666;
	-webkit-transition: background 0.4s ease-in-out 0s;
	transition: background 0.4s ease-in-out 0s;
}

form input[type=checkbox]{
	margin: 0 0.25em 0 0;
}

form textarea:focus,
form input[type=text]:focus,
form input[type=password]:focus,
form input[type=email]:focus,
form select:focus {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
}

form label {
	color: #333;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

form #links label {
	color: #666;
}
.labelMenu{
	position: relative;
	float: right;
	display: inline-block;
	font-family: arial;

	padding-left: 50px;
	margin-top: -.8em;
}

#auth {
	margin: 1em auto;
}

.button,
#auth input {
	display: block;
	width: 100%;
	margin: auto;
	padding: 0.875em 1em;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	font-weight: 700;
	cursor: pointer;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #f79400;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.02em;
	-webkit-transition: background 0.4s ease-in-out 0s;
	transition: background 0.4s ease-in-out 0s;
}

.button:hover,
.button:active,
#auth button:hover,
#auth button:active {
	background: #e88b00;
}

#links {
    margin-bottom: 1em;
    font-size: 0.875em;
}

#links span {
	width: 50%;
	display: block;
	float: right;
	text-align: right;
}

#links span:first-child {
	float: left;
	text-align: left;
}

#links a,
#links label {
	display: inline-block;
	margin: 0;
}

#error {
	color: #c4310a;
	font-size: 0.875em;
}

#error a {
	text-decoration: underline;
	color: #a52a09;
}


#auth-error h3 {
	color: #c4310a;
}

#auth-error p {
	margin: 0;
}

#facebook {
	text-align: center;
}

#facebook p {
	margin: 0;
	text-align: center;
}

#facebook a {
	display: inline-block;
	text-decoration: none;
	font-size: 0.750em;
	font-weight: 900;
	text-transform: uppercase;
	color: #666;
	padding: 8px 16px 7px 40px;
	margin: 0;
	background: url('images/facebook.png') no-repeat 14px 6px;
	border: 1px solid #ccc;
	cursor: pointer;
	-webkit-border-radius: 32px;
	border-radius: 32px;
}

#facebook a:hover {
	border-color: #bbb;
	color: #333;
}

#facebook .facebook-connect {
	margin-bottom: 1em;
	position: relative;
}

#facebook .facebook-connect:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	display: block;
	width: 100%;
	border-bottom: 1px solid #eee;
	z-index: 1;
}

#facebook .facebook-connect span {
	position: relative;
	display: inline-block;
	padding: 0.25em 1em;
	font-size: 	0.875em;
	color: #888;
	font-style: italic;
	background-color: #fff;
	z-index: 2;
}

.accounts-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.accounts-list li {
	display: block;
	padding: 0;
	margin-bottom: 0.25em;
	border-bottom: 1px solid #eee;
}

.accounts-list li a {
	color: #666;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0.5em 0 0.5em 2em;
	background: url('images/arrow-right.png') no-repeat 0.25em center;
}

.accounts-list li a:hover {
	text-decoration: none;
	color: #e88b00;
}

/* Pagina Cancellazione Account e Recupero Manuale Password */



/* Pagina Messaggi */

.message-container {
	padding: 1em;
	margin: 0 0 1.5em;
	border-left-style: solid;
	border-left-width: 3px;
}

.message-container p {
	margin-bottom: 1em;
}

.message-container p:last-child {
	margin-bottom: 0;
}

.error .message-container {
	border-left-color: #c4310a;
	background-color: #faf2f0;
}

.warning .message-container {
	border-left-color: #fec610;
	background-color: #fcf8e8;
}

.notice .message-container {
	border-left-color: #47b247;
	background-color: #f3faf0;
}

/* Login Footer */

.login-footer {
	font-size: 0.675em;
	margin-bottom: 1.5em;
}

.login-footer p {
	margin: 0;
}

.login-footer a {
	color: #888;
}

.login-footer a:hover {
	color: #e88b00;
}

.login-footer button {
	border: none;
	background: none;
	cursor: pointer;
	color: #0066FF;
	padding: 0;
	margin: 0;
}




.errorMessage {
    font-size: 0.8em;
    color: red;
}
