.form-control{
    max-width: 65px;
   font-size: 12px;
    height: 28px;
    padding: 0px 0px 0px 5px;
    text-align: right;
    font-weight: normal;
}
.little{
	font-size: 12px;
}
.anno{
	text-align:center;
	padding: 0px 0px 0px 0px;
}
.items{
    /*border: 1px solid #000;*/
}

/*Set a min width where your table start to look like crap*/
table { min-width: 600px; }

/*The next 3 sections make the magic happen*/
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th {
    border-right: 1px solid white;
}

tbody {
    display: block;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Use the following to make sure cols align correctly*/
table, tr, th, td {
    border-collapse: collapse;
}


/*Set your columns to where you want them to be, skip the one that you can have resize to any width*/
th:nth-child(1), td:nth-child(1) {
    width: 30px;
}
th:nth-child(2), td:nth-child(2) {
	width: 160px;
}

.thead {
    color: #fff;
    text-align: center;
    max-height: 10px;
    background: white url(bg.gif) repeat-x left top;
}
.hover_1:hover, .hover_2:hover{
    background-color: rgb(236,251,212);
}
.hover_1{
	background-color: rgb(248,248,248);
}
.hover_2{
	background-color: rgb(229,241,244);
}
