# nodejs modules
node_modules
package-lock.json

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# runtime
runtime/

# composer lock
composer.lock


tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

# add service worker file
web/sw.js

# altri ignore
.env
.stignore
.vscode/
